body {
  background-color: rgba(#303030, 0.95);
  margin: 0;
  height: 100%;
}

body .ui-accordion .ui-accordion-header a {
  background-color: #303030 !important;
  border-radius: 6px;
  &:focus {
    outline: none;
  }
}

