.content-wrapper {
  background-color: #303030;
  display: flex;
  flex-flow: column;
  max-width: 1024px;
  padding: 2rem 1rem;
  width: 100%;
  min-height: 100vh;
  margin: auto;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
