modify {
  .element-detail {
    overflow: hidden;
    display: flex;
  }

  table {
    width: 100%;
  }

  tr.detail-row {
    height: 0;
  }

  tr.element-row:not(.example-expanded-row):hover {
    background: #777;
  }

  tr.element-row {
    transition: all 0.3s ease-in-out;
  }

  tr.element-row:not(.example-expanded-row):active {
    background: #efefef;
  }

  .element-row td {
    border-bottom-width: 0;
  }


  .element-description {
    padding: 16px;
  }

  .element-description-attribution {
    opacity: 0.5;
  }
}
