display-animals, display-species, rooms-to-buy, my-rooms, display-enclosure, display-caretakers {
  .element-detail {
    display: flex;
    flex-flow: column;
    overflow: hidden;
  }

  table {
    width: 100%;
  }

  tr.detail-row {
    height: 0;
  }

  tr.element-row:not(.example-expanded-row):hover {
    background: #777;
  }

  tr.element-row {
    transition: all 0.3s ease-in-out;
  }

  tr.element-row:not(.example-expanded-row):active {
    background: #efefef;
  }

  .element-row td {
    border-bottom-width: 0;
  }


  .element-description {
    display: flex;
    font-weight: lighter;
    margin-bottom: 1rem;
    img {
      border-radius: 5px;
      margin-right: 1rem;
      box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    }
  }

  .element-description-attribution {
    opacity: 0.5;
  }

  .manage-buttons {
    margin-left: auto;
    padding-bottom: 1rem;
  }
  .element-description-row {
    display: flex;
    align-items: center;
    p {
      margin-right: 6px;
      display: inline;
    }
  }
}
